.content{
  padding: 20px;
}
// arrows
.arrow-left {
  height: 50px;
  widows: 50px;
  position: absolute;
}
.arrow-right {
  height: 50px;
  width: 50px;
position: absolute;
}
//carrusel
//div of 'next event' (color #73c5a5)
#next-event{
  padding: 10px;
  background-image: url("../img/bg-event-0.jpg");
  color: #ffffff;
  height: 720px;
}
#each-event{
  font-size: 18px;
  width: 105px;
  font-weight: bold;
  padding: 10px;
  background: $color-greenWater;
}
.carrusel {
  width: 53%;
  display: inline-block;
  position: relative;
}
.date{
  margin-top: 100px;
  font-size: 40px; 
  margin-bottom: 10px;
}
.subtitle{
  margin-top: 25px;
  font-size: 24px; 
}
.location{
  margin-top: 50px;
  font-size: 24px; 
  font-weight: bold;
}
.link-container{
  background: $color-greenWater;
  width: 100%;
  text-align: right;
}
.link{
  padding: 10px;
  font-size: 10px;
}

//events
.events{
  width: 43%;
  display: inline-block;
  float: right;
}
.dates{
  font-size: 25px; 
  margin-bottom: 10px;
  font-weight: bold;
}
.subtitles{
  font-size: 18px;
margin-bottom: 10px;
}
.locations{
  font-weight: bold;
}
.btn{
  background: #ffffff;
  border-radius: 100px;
  height: 30px;
  font-size: 12px;
  padding: 5px;
  text-transform: capitalize;
  border: 1px solid #222222;
  margin-top: 15px;
}
