h2{
  margin-top: 20px;
}
.content{
  padding: 20px;
}
// arrows
.carrusel__arrow__left {
  @include buttons-carrusel;
  bottom: 50%;
  right: 100%;
  background-image: url('.../arrows/arrow-left.svg') ;
}
.carrusel__arrow__right {
  @include buttons-carrusel;
  bottom: 50%;
  left: 100%;
}
//carrusel
//div of 'next event' (color #73c5a5)
.carrusel {
  width: 53%;
  display: inline-block;
  position: relative;
}
.carrusel__event{
  padding: 10px;
  background-image: url("../img/bg-event-0.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  height: 720px;
}
.carrusel__info{
  font-size: 18px;
  width: 105px;
  font-weight: bold;
  padding: 10px;
  background: $color-greenWater;
}

.carrusel__date{
  margin-top: 100px;
  font-size: 40px; 
  margin-bottom: 10px;
}
.carrusel__subtitle{
  margin-top: 25px;
  font-size: 24px; 
}
.carrusel__location{
  margin-top: 50px;
  font-size: 24px; 
  font-weight: bold;
}
.link__container{
  background: $color-greenWater;
  width: 100%;
  text-align: right;
}
.link__item{
  padding: 10px;
  font-size: 10px;
}

//events
.events{
  width: 40%;
  display: inline-block;
  float: right;
  margin-left: 3%;
}
.event__subtitle{
  font-size: 18px;
margin-bottom: 10px;
}
.event__location{
  font-weight: bold;
}
.event__button{
  background: #ffffff;
  border-radius: 100px;
  height: 30px;
  font-size: 12px;
  padding: 5px;
  text-transform: capitalize;
  border: 1px solid #222222;
  margin-top: 15px;
}
.active{
  border-left: 15px solid $color-greenWater;
  padding-left: 15px;
}
